# ──────────────────────────────────────────────────────
# DJASSA PRO — Configuration Environnement Modèle
# ──────────────────────────────────────────────────────

JWT_SECRET="djassa_pro_secret_key_ultra_securisee_2026_abidjan_cote_divoire"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# Configuration Supabase future :
# NEXT_PUBLIC_SUPABASE_URL="https://xxx.supabase.co"
# NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJ..."
# SUPABASE_SERVICE_ROLE_KEY="eyJ..."
